body {
 background-color: 	#f2f2f2;
}
h1 { color: rgb(60, 60, 60);
	text-align:center; 
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#quoteDisplay{
	background-color: #b3b3b3;
	float: center;
    border: 5px solid black;
    width: 70%;
    margin: auto;  
	padding:20px;
	text-align: center;
	font-size: x-large;
	font-family: Sans-serif;
}
#btn{
	
	text-align: center;
	float:right;
	padding-right: 15px;
	margin-left: 5px;
}
h3 {
	font-family: Sans-serif;
}

#pink{
	border: 5px solid #ff4d4d;
	background-color:  #ffcccc;
	height: 35px;
	width: 35px;
	margin-top: 5px;
	
}
#blue{
	border: 5px solid #1a53ff;
	background-color:  #ccd9ff;
	height: 35px;
	width: 35px;
	margin-top: 5px;
	
}
#green{
	border: 5px solid #248f24;
	background-color:  #99e699;
	height: 35px;
	width: 35px;
	margin-top: 5px;
	
}
#purple{
	border: 5px solid #ac3973;
	background-color: #e6b3cc;
	height: 35px;
	width: 35px;
	margin-top: 5px;
	
}
#converter{
	text-align: center;
	padding: 60px;
	width: 40%;
	margin: auto;
	background-color: #b3b3b3;
	border: 5px solid black;
}
select{ cursor: pointer; }
input {
	height: 25px;
}

fieldset {
	text-align: center;
	padding: 50px;
	width: 50%;
	margin:auto;
	font-size: 20px;
	font-family: lato, sans-serif;
    background-color: #b3b3b3;
    border: 5px solid black;
}

#magic{
	background-color: #b3b3b3;
    border: 5px solid black;
    padding: 40px;

    width: 60%;
    text-align: center;
    margin:auto;
}

#text{
	width: 80%;
	margin-bottom: 40px;
	font-size: 20px;
}


button {
    height: 30px;
	cursor: pointer;
}
